<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Score1</key>
	<string>567</string>
	<key>Score2</key>
	<string>432</string>
	<key>Score3</key>
	<string>321</string>
	<key>Score4</key>
	<string>111</string>
	<key>Score5</key>
	<string>90</string>
</dict>
</plist>
