<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Score1</key>
	<string>Privet Raboet</string>
	<key>Score2</key>
	<string></string>
	<key>Score3</key>
	<string></string>
	<key>Score4</key>
	<string></string>
	<key>Score5</key>
	<string></string>
</dict>
</plist>
