<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Audi</string>
	<string>BMW</string>
	<string>Alfa Romeo</string>
	<string>Aston Martin</string>
	<string>Bentley</string>
	<string>Bugatti</string>
	<string>Chevrolet</string>
	<string>Dodge</string>
	<string>Ferrari</string>
	<string>Ford</string>
	<string>Koenigsegg</string>
	<string>Lamborghini</string>
	<string>Maserati</string>
	<string>Mazda</string>
	<string>McLaren</string>
	<string>Mercedes-AMG</string>
	<string>Nissan</string>
	<string>Opel</string>
	<string>Porsche</string>
	<string>Other</string>
</array>
</plist>
